
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model UI.Models.FilmViewModel

<H1> Create Film</H1>

<div class="row">
    <div class"clo-md-4">
        <form asp-action="Create" method="post">
            <div class="Form-group">
                <label asp-for="Titre" class="control-label" ></label>
                <input asp-for="Titre" class="form-control">
                <span asp-validation-for="Titre" class="text-danger"></span>
            </div>
            <div class="Form-group">
                <label asp-for="Description" class="control-label" ></label>
                <input asp-for="Description" class="form-control">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
             <div class="Form-group">
                <label asp-for="Date" class="control-label" ></label>
                <input asp-for="Date" class="form-control" type="datetime">
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
             <div class="Form-group">
                <label asp-for="genre" class="control-label" ></label>
                <input asp-for="genre" class="form-control">
                <span asp-validation-for="Titre" class="text-danger"></span>
            </div>
            <div>
                 <input type="submit" value="Create" class="btn btn-primary" />
                 <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</Div>